base-font-size = vw-calc(107)

base-unit = 8px
base-line-height = (base-font-size*1.2)

// color ----------

$yves = #0C28B1
$black = #000000
$offwhite = #DADADA

// reset ----------

*
  box-sizing border-box
  margin 0
  padding 0


ul,li
  list-style-type none

input,
label,
select,
button,
textarea
  margin 0
  border 0
  padding 0
  display inline-block
  vertical-align middle
  white-space normal
  background none
  line-height 1
  -webkit-appearance none

input:focus
	outline 0

input,
textarea
	-webkit-box-sizing content-box
	-moz-box-sizing content-box
	box-sizing content-box

button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select
	-webkit-box-sizing border-box
	-moz-box-sizing border-box
	box-sizing border-box

a
  text-decoration none

html
  scroll-behavior smooth


body
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  text-rendering optimizeLegibility
  font-variant-ligatures common-ligatures
  font-feature-settings "liga" 1
  font-size vw-calc(108)
  font-family fav
  background-color black
  color $black
  min-height 100vh
  height 100%
  opacity 0
  transition opacity 200ms 500ms linear

  +tablet-portrait-up()
    font-size vw-calc(34)

  &.team
    background-color $offwhite


h1
  font-size vw-calc(140)
  font-family fav
  font-weight 400

  +tablet-portrait-up()
    font-size vw-calc(44)

h2, p, ul, button
  font-size vw-calc(108)
  font-family fav
  font-weight 400

  +tablet-portrait-up()
    font-size vw-calc(34)

h1,h2, button
  font-weight normal
  text-transform uppercase
