fav = favorit, "Helvetica Neue", Helvetica, Arial, sans-serif
favline = favorit-lining, "Helvetica Neue", Helvetica, Arial, sans-serif

@font-face 
  font-family favorit
  src url("../fonts/fr.woff2") format('woff2')
  font-weight 400
  font-style normal
  font-display swap

@font-face 
  font-family favorit
  src url("../fonts/fm.woff2") format('woff2')
  font-weight 500
  font-style normal
  font-display swap

@font-face 
  font-family favorit-lining
  src url("../fonts/frl.woff2") format('woff2')
  font-weight 400
  font-style normal
  font-display swap

@font-face 
  font-family favorit-lining
  src url("../fonts/fml.woff2") format('woff2')
  font-weight 500
  font-style normal
  font-display swap