// shared styles
@import '../../node_modules/nib'
@import 'libs/mixins'
@import 'libs/typography'
@import 'libs/grid'
@import 'libs/base'
@import 'snippets/hero'
@import 'snippets/about'
@import 'snippets/clients'
@import 'snippets/sections'
@import 'snippets/contact'
@import 'snippets/footer'
@import 'snippets/cookie'

main
  max-width 100vw
  display grid
  grid-template-columns 1fr

  +tablet-portrait-up()
    grid-template-columns 48.5119047619vw vw-calc(50) 48.5119047619vw

  .left
  .right
    position relative
    max-width 100vw

    +tablet-portrait-up()
      min-height 100vh
  
  .right
    background-color $offwhite

  .clients
    z-index 100

    +tablet-portrait-up()
      height 100vh
      min-height 600px