// shared styles
@import '../../node_modules/nib'
@import 'libs/mixins'
@import 'libs/typography'
@import 'libs/grid'
@import 'libs/base'

.team-container
  display grid
  grid-template-columns 1fr
  padding 0 vw-calc(72)

  +tablet-portrait-up()
    grid-template-columns vw-calc(260) repeat(2, 1fr)
    grid-column-gap vw-calc(32)
    padding 0 vw-calc(32)
    height calc(var(--vh, 1vh)* 100)

  & > .div
    height calc(var(--vh, 1vh)* 100)

    +tablet-portrait-up()
      min-height 600px

  .team-hero
    flexbox(flex)
    flex-direction(column)
    justify-content(space-between)
    min-height 100vh /* Fallback for browsers that do not support Custom Properties */
    min-height calc(var(--vh, 1vh)* 100 - 13vw)
    padding vw-calc(72) 0
    transition height 300ms ease
    
    +tablet-portrait-up()
      padding vw-calc(32) 0
      width vw-calc(280)
      height calc(var(--vh, 1vh)* 100)
      min-height 500px

    .logo
      width 100%
      margin-bottom vw-calc(240)

      +tablet-portrait-up()
        width vw-calc(260)
        margin-bottom vw-calc(40)

      svg
        will-change transform
        transform-origin top left

        path
          fill black

    nav
      li
        padding-top vw-calc(40)

        +tablet-portrait-up()
          padding-top vw-calc(16)
      a
        color black

        &:hover
        &.active
          text-decoration underline

  .team-bio
    flex 1 auto
    overflow-y scroll

    .bio-image
      height 67vh
      background-position center center
      background-size cover
      margin vw-calc(72) 0

      +tablet-portrait-up()
        margin vw-calc(32) 0
        height calc(var(--vh, 1vh)* 100 - 3.8095238095vw)

    p
    h2
      padding 0 0 vw-calc(72) 0

      +tablet-portrait-up()
        padding 0 0 vw-calc(32) 0
