.about
  position relative
  flexbox(flex)
  flex-direction(column)
  justify-content(center)
  
  +tablet-portrait-up()
    height auto

  .building
    background-size cover
    background-position center center
    background-color #111111
    height 100vh
    min-height 700px

  .about-content
    padding vw-calc(80)
    color $offwhite
    z-index 100
    position relative
    height 100vh
    min-height 700px
    
    +tablet-portrait-up()
      padding vw-calc(32)
      padding-top 0

    .arrow
      font-size vw-calc(160)
      height vw-calc(240)
      margin-top vw-calc(-200)
      text-align right
      display none

      +tablet-portrait-up()
        display block

    
    .sticky
      padding-top vw-calc(32)
      
    p
      margin 0 0 vw-calc(80)
      position relative
      z-index 1000

      +tablet-portrait-up()
        margin 0 0 vw-calc(80)
        font-size vw-calc(44)

      &:last-child
        margin 0