#cookie_banner-wrapper
  z-index 9001
  position relative

  @-webkit-keyframes fadeInRight
    0%
      opacity 0
      -webkit-transform translateX(20px)
      transform translateX(20px)
  
    100%
      opacity 1
      -webkit-transform translateX(0)
      transform translateX(0)
  


  @keyframes fadeInRight
    0%
      opacity 0
      -webkit-transform translateX(20px)
      -ms-transform translateX(20px)
      transform translateX(20px)
  
    100%
      opacity 1
      -webkit-transform translateX(0)
      -ms-transform translateX(0)
      transform translateX(0)
  


  .cookie_container
    position fixed
    overflow hidden
    padding size-calc(2) size-calc(4)
    background $black
    color $offwhite
    box-sizing border-box
    flexbox(flex)
    align-items(center)
    bottom size-calc(3)
    right size-calc(3)
    left size-calc(3)
    border-radius size-calc(10)

    p
    button  
      font-size vw-calc(80)
      color $offwhite
    

    +tablet-portrait-up()
      bottom size-calc(3)
      right size-calc(3)
      left auto

      p
      button  
        font-size vw-calc(24)
  
    .cookie_message
      padding-right size-calc(2)
      a
        text-decoration none
        color $yves

        &:hover
          text-decoration underline

        &:active
          color $ka-cookie-link-color-hover
      

    .cookie_btn
      background-color $ka-cookie-btn-bg
      color $ka-cookie-btn-color
      border-radius 5px
      border 1px solid transparent
      padding size-calc(1)
      text-align center
      cursor pointer

    -webkit-animation-fill-mode both
    animation-fill-mode both
    -webkit-animation-duration 0.8s
    -moz-animation-duration 0.8s
    -o-animation-duration 0.8s
    animation-duration 0.8s
    -moz-animation-fill-mode both
    -o-animation-fill-mode both
    -webkit-animation-name fadeInRight
    animation-name fadeInRight



@media print
  #cookie_banner-wrapper
    display none
