.hero
  width 100%
  padding vw-calc(72)
  flexbox(flex)
  flex-direction(column)
  justify-content(space-between)
  background $yves

  +tablet-portrait-up()
    height 100vh
    min-height 700px
    padding vw-calc(32)
    margin 0 0 100vh 0

  .logo
    width 100%
    
    +tablet-portrait-up()
      width 70%
      
    svg
      will-change transform
      transform-origin top left

      path
        fill black

  .hero-contact 
    flexbox(flex)
    justify-content(space-between)
    align-items(flex-end)

    .links
      flexbox(flex)
      writing-mode vertical-rl
      text-orientation mixed
      transform rotate(180deg)
      align-items(flex-end)
      margin vw-calc(-1100) 0 0

      // +tablet-portrait-up()
      //   margin 0
      //   writing-mode horizontal-tb
      //   text-orientation upright
      //   transform rotate(0)
      //   align-items(flex-start)
      //   justify-content(space-between)
      
      p
        margin-left vw-calc(-16)

        // +tablet-portrait-up()
        //   margin 0


      a
        font-size vw-calc(80)
        text-transform uppercase
        font-weight 500
        padding 0 0 vw-calc(80)

        +tablet-portrait-up()
          font-size vw-calc(24)
          padding 0 0 vw-calc(24)

    a
      color black

      &:hover
        font-family favline
    
    
    