.services
  padding vw-calc(40)
  background-color $offwhite

  .services-title
    text-transform uppercase
    font-size vw-cacl(56)
    margin 0 0 vw-calc(48)

    span
      display block
     
    span.first
      writing-mode vertical-rl
      transform rotate(180deg)
      margin-left vw-calc(-8)
  
  .service
    margin 0 0 vw-calc(56)

    &:last-child
      margin 0

      ul
        margin 0
    
    h2, p, ul
      margin 0 0 vw-calc(24)

    ul
      padding 0 vw-calc(32)
    
